'body':
  # resetting keys
  'cmd-o': 'unset!'
  'cmd-j': 'unset!'
  'cmd-k alt-cmd-w': 'unset!'
  'cmd-k cmd-0': 'unset!'
  'cmd-k cmd-1': 'unset!'
  'cmd-k cmd-2': 'unset!'
  'cmd-k cmd-3': 'unset!'
  'cmd-k cmd-4': 'unset!'
  'cmd-k cmd-5': 'unset!'
  'cmd-k cmd-6': 'unset!'
  'cmd-k cmd-7': 'unset!'
  'cmd-k cmd-8': 'unset!'
  'cmd-k cmd-9': 'unset!'
  'cmd-k cmd-b': 'unset!'
  'cmd-k cmd-d': 'unset!'
  'cmd-k cmd-l': 'unset!'
  'cmd-k cmd-n': 'unset!'
  'cmd-k cmd-p': 'unset!'
  'cmd-k cmd-u': 'unset!'
  'cmd-k cmd-w': 'unset!'
  'cmd-k up': 'unset!'
  'cmd-k down': 'unset!'
  'cmd-k left': 'unset!'
  'cmd-k right': 'unset!'
  'cmd-k cmd-up': 'unset!'
  'cmd-k cmd-down': 'unset!'
  'cmd-k cmd-left': 'unset!'
  'cmd-k cmd-right': 'unset!'

'atom-workspace atom-text-editor:not(.mini)':
  # key navigation
  'cmd-j': 'ergonomic-cursor:move-left'
  'cmd-k': 'ergonomic-cursor:move-down'
  'cmd-l': 'ergonomic-cursor:move-right'
  'cmd-i': 'ergonomic-cursor:move-up'
  'shift-cmd-i': 'core:page-up'
  'shift-cmd-k': 'core:page-down'
  'shift-cmd-j': 'editor:move-to-first-character-of-line'
  'shift-cmd-l': 'editor:move-to-end-of-line'
  'cmd-u': 'editor:move-to-beginning-of-word'
  'cmd-o': 'editor:move-to-end-of-word'
  'shift-cmd-u': 'editor:move-to-beginning-of-previous-paragraph'
  'shift-cmd-o': 'editor:move-to-beginning-of-next-paragraph'
  'cmd-h': 'core:move-to-top'
  'shift-cmd-h': 'core:move-to-bottom'

  # text editing
  'cmd-space': 'ergonomic-cursor:activate-selection'

'.select-list, .tree-view, .preview-pane, .atom-panel':
  'cmd-k': 'core:move-down'
  'cmd-i': 'core:move-up'
